@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

*{
    font-family: 'Outfit',sans-serif;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

::-webkit-scrollbar{
    display: none;
}

.move:hover {
    -webkit-animation-play-state: paused;
  }

  .move {
    display: flex;
    flex-direction: row;
    overflow: hidden; 
    white-space: nowrap; 
    animation: scroll 20s linear infinite; 
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* img {
    min-width: 25%;
    height: 100%;
} */

@media (max-width:640px) {
    a.active{
        background-color: black;
        color: white;
    }
}
  